body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}

hgroup {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
hgroup h2, hgroup p {
  margin-block-end: 0;
}
.ring {
  display: inline-block;
  padding: 5px;
}
.ring-0 {
  background-color: #6AA549;
}
.ring-1 {
  background-color: #66AFDD;
}
.ring-2 {
  background-color: #ffb612;
}
.ring-3 {
  background-color: #DF6056;
}
:target {
  border-block-end: 2px solid black;
}